*{
    box-sizing: border-box;
}
body{
    color: hotpink;
    background-image: url(../img/Raindrops_Videvo_Moment.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: monospace;
    max-width: 1920px;
    height: 2000px;
}




