*{
    box-sizing: border-box;
}
body{
    color: hotpink;
    background-image: url(../video/Blue_Sky_and_Clouds_Timelapse_0892__Videvo.mov);
    font-family: monospace;
    max-width: 1920px;
}




