<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Caveat|Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text&display=swap"rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/base.css">
    <link rel="stylesheet" type="text/css" href="/css/layout.css">
    <link rel="stylesheet" type="text/css" href="/css/module.css">
    <title>Truthy Weather</title>

    <script id="entry-template" type="text/x-handlebars-template">
      <div class="entry">
        <h1>{{city_name}}</h1>
        <ul>
          <li>{{temperature}}</li>
          <li>{{humidity}}</li>
          <li>{{wind_speed}}</li>
          <li>{{wind_direction}}</li>
          <li>{{description}}</li>
          <li>{{api_name}}</li>
        </ul>
        <div class="body">
          {{body}}
        </div>
      </div>
    </script>


</head>
<html>
  <body>
    <header>
      <video autoplay muted loop id="myVideo">
        <source src="/video/Raindrops_Videvo.mp4" type="video/mp4">
      </video>
      <h1>Truthy Weather</h1>
      <div>
        <button id="getWeatherButton">Get Weather</button>
        <input name="getWeatherInput" type="text" placeholder="Enter a city">
    </div>
      <misc>
        <ul id="savedcities">
          <% cities.forEach(city => { %>
          <li><span><%= city.city_name %></span><button class='query' id="query"> Search </button>
          <button class='delete' id="delete"> Delete </button></li>
          <% }); %>
        </ul>
      </misc>
    </aside>
  </header>
  <main>
    <section id="avgcard">

    </section>
      <section class=avg>
        <div id="current"></div>
        <div id="meter"></div>
        <div id="forecast"></div>
      </section>
      <footer>
        <nav>
          <ul>
            <li><a href="https://www.qries.com/"><img alt="Qries" src="img/facebook.png" height="40"></a></li>
            <li><a href="https://www.qries.com/"><img alt="Qries" src="img/instagram.png" height="40"></a></li>
            <li><a href="https://www.qries.com/"><img alt="Qries" src="img/twitter.png" height="40"></a></li>
            <li><a href="https://www.qries.com/"><img alt="Qries" src="img/pintrest.png" height="40"></a></li>
          </ul>
          <button id="myBtn">Team Truthy Weather</button>
          <div id="myModal" class="modal">
            <div class="modal-content">
              <span class="close">&times;</span>
              <ul class="modalul">
                <li class="modalli">
                  <h4>Morgan Heinemann</h4>
                  <img src="/img/Morgan.jpg" alt="Morgan Image">
                  <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                  </p>
                </li>
                <li class="modalli">
                  <h4>Andrew Casper</h4>
                  <img src="/img/Andrew.jpg" alt="Andrew Image">
                  <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                  </p>
                </li>
                <li class="modalli">
                  <h4>Anthony Cuningham</h4>
                  <img src="/img/Anthony.jpg" alt="Anthony Image">
                  <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                  </p>
                </li>
                <li class="modalli">
                  <h4>Alex Pena</h4>
                  <img src="/img/Alex.jpg" alt="Alex Image">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                </li>
              </ul>
            </div>
          </div> 
        </nav>
      </footer>
    </main>
    <script src="../../server.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>