<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/base.css">
    <link rel="stylesheet" type="text/css" href="/css/layout.css">
    <link rel="stylesheet" type="text/css" href="/css/module.css">
    <title>Truthy Weather</title>

    <script id="entry-template" type="text/x-handlebars-template">
      <div class="entry">
        <h1>{{city_name}}</h1>
        <ul>
          <li>{{temperature}}</li>
          <li>{{humidity}}</li>
          <li>{{wind_speed}}</li>
          <li>{{wind_direction}}</li>
          <li>{{description}}</li>
          <li>{{api_name}}</li>
        </ul>
        <div class="body">
          {{body}}
        </div>
      </div>
    </script>


</head>
<html>
  <body>
    <header>
      <video autoplay muted loop id="myVideo">
        <source src="/video/Raindrops_Videvo.mp4" type="video/mp4">
      </video>
      <h1>Truthy Weather</h1>
      <div>
        <button id="getWeatherButton">Get Weather</button>
        <input name="getWeatherInput" type="text" placeholder="Enter a city">
    </div>
      <misc>
        <ul id="savedcities">
          <% cities.forEach(city => { %>
          <li><%= city.city_name %><button id="query"> Search </button>
          <button id="delete"> Delete </button></li>
          <% }); %>
        </ul>
      </misc>
    </aside>
  </header>
  <main>
    <section id="avgcard">

    </section>
      <section class=avg>
        <div id="current"></div>
        <div id="meter"></div>
        <div id="forecast"></div>
      </section>
      <footer>
        <nav>
          <ul>
            <li><a href="https://www.qries.com/"><img alt="Qries" src="img/facebook.png" height="40"></a></li>
            <li><a href="https://www.qries.com/"><img alt="Qries" src="img/instagram.png" height="40"></a></li>
            <li><a href="https://www.qries.com/"><img alt="Qries" src="img/twitter.png" height="40"></a></li>
            <li><a href="https://www.qries.com/"><img alt="Qries" src="img/pintrest.png" height="40"></a></li>
          </ul>
          <button class=element>The Team</button>
        </nav>
      </footer>
    </main>
    <script src="../../server.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>